<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:dist="http://schemas.android.com/apk/distribution"
  package="com.example.androidmediapractice">

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.CAMERA" />

  <uses-feature
    android:glEsVersion="0x00020000"
    android:required="true" />

  <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
  <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />


  <application
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".main.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".main.task1.Task1Activity" />
    <activity android:name=".main.task2.Task2Activity" />
    <activity android:name=".main.task3.Task3Activity" />
    <activity
      android:name=".main.task3.CaptureActivity"
      android:launchMode="singleTask" />
    <activity android:name=".main.task3.PreviewSurfaceActivity" />
    <activity android:name=".main.task3.PreviewTextureActivity" />
    <activity android:name=".main.task4.Task4Activity" />
    <activity android:name=".main.task4.MediaExtractorActivity" />
    <activity
      android:name=".main.task5.Task5Activity"
      android:screenOrientation="portrait" />
    <activity android:name=".main.task6.Task6Activity" />
    <activity
      android:name=".main.task7.Task7Activity"
      android:launchMode="singleTask" />
    <activity
      android:name=".main.task8.Task8Activity"
      android:launchMode="singleTask" />
    <activity android:name=".main.task9.Task9Activity" />
  </application>

  <dist:module dist:instant="true" />

</manifest>